<div class="wrapper">
  <div class="list prose dark:prose-invert max-w-none">
    <ng-container
      *ngIf="(workspace | async)?.schedules?.length; then list; else listEmpty"
    >
    </ng-container>
  </div>
  <ng-template #list>
    <div class="add" *ngIf="activeOrganization?.privileged">
      <app-button
        open-modal
        size="sm"
        variant="secondary"
        (click)="addNewSchedule()"
      >
        Añadir horario
      </app-button>
    </div>
    <table class="members-list">
      <thead>
        <tr>
          <td>Día y hora</td>
          <td class="text-right" *ngIf="activeOrganization?.privileged">
            Opciones
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of (workspace | async)?.schedules">
          <td>
            <span class="font-bold">{{ time.weekday }}</span
            ><br /><span class="text-xs"
              >desde las <span class="label">{{ time.start_time }}</span> hasta
              las <span class="label">{{ time.end_time }}</span></span
            >
          </td>
          <td *ngIf="activeOrganization?.privileged">
            <div class="float-right">
              <app-button variant="danger" size="sm">Eliminar</app-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #listEmpty>
    <div
      class="h-96 w-full flex flex-col gap-4 items-center justify-center text-center"
    >
      <img class="opacity-50 w-44" src="/assets/img/no-schedule.svg" alt="" />
      <span
        >Parece que <b>{{ (workspace | async)?.name }}</b> no tiene ningún
        horario 🕰.</span
      >
      <app-button
        *ngIf="activeOrganization?.privileged"
        open-modal
        size="sm"
        variant="light"
        (click)="addNewSchedule()"
        >Añadir uno ahora</app-button
      >
    </div>
  </ng-template>
</div>
