<div *ngIf="activeOrganization">
  <h1>Miembros de {{ activeOrganization.name }}</h1>
  <div class="add">
    <app-button
      open-modal
      size="sm"
      variant="secondary"
      (click)="addNewMember()"
      >Añadir miembros</app-button
    >
  </div>
  <div
    *ngIf="organizationMembers; else loader"
    class="prose dark:prose-invert max-w-none"
  >
    <table class="members-list">
      <tbody>
        <tr class="head">
          <td>Usuario</td>
          <td>Nivel de acceso</td>
        </tr>
        <tr *ngFor="let member of organizationMembers">
          <td>
            <span class="font-bold">{{ member.name }} {{ member.surname }}</span
            ><br /><span class="text-xs">{{ member.email }}</span>
          </td>
          <td>{{ member.pivot?.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loader>
    <div class="w-full py-12 flex justify-center items-center">
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>
