@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind components;
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind utilities;
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind variants;
/* purgecss end ignore */
/* You can add global styles to this file, and also import other style files */

* {
  @apply outline-none;
}

body {
  @apply font-montserrat dark:bg-black text-main-dark dark:text-white;
}

h1 {
  @apply font-bold text-2xl;
}

button,
app-button {
  @apply rounded-full;
}

img.ghost-image {
  @apply select-none pointer-events-none;
}

*[tabindex],
button {
  @apply outline-none ring-primary ring-opacity-40 transition-all duration-300 focus-within:ring-4;
}

input ~ .errors {
  @apply transform w-full absolute bottom-0 translate-y-full flex flex-col opacity-0;
  span {
    @apply text-red-500 font-bold p-1 py-2 text-xs italic;
  }
}

form {
  &.ng-submitted.ng-invalid {
    input {
      &.ng-invalid {
        @apply border-red-500 dark:border-red-500 #{!important};
      }

      &.ng-invalid ~ .toggle-pass {
        @apply text-red-500;
      }

      & ~ .errors {
        @apply opacity-100;
      }
    }
  }
  .input-wrapper {
    input {
      @apply border-0 border-b-[3px] border-secondary-gray dark:border-gray-700 px-0 py-3 ring-0 focus:border-primary bg-transparent;

      &.ng-touched.ng-invalid {
        @apply border-red-500 dark:border-red-500 #{!important};
      }

      &.ng-touched.ng-invalid ~ .toggle-pass {
        @apply text-red-500;
      }

      &.ng-touched ~ .errors {
        @apply opacity-100;
      }

      &::placeholder {
        @apply font-medium text-main-dimed dark:text-gray-400;
      }
    }
  }
}

button[app-button] {
  &[ng-reflect-disabled="true"],
  &[disabled],
  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon {
  animation: fadeRight 0.8s;
}
