<div class="input-wrapper">
  <label *ngIf="!innerLabel" [for]="id">{{ label }}</label>
  <textarea
    [id]="id"
    [(ngModel)]="value"
    (blur)="onTouched()"
    [placeholder]="innerLabel ? label : ''"
  ></textarea>
  <div *ngIf="control && control.errors" class="errors">
    <span *ngIf="control.errors.required"> Este campo es obligatorio </span>
    <span *ngIf="control.errors.minlength">
      Este campo debe tener al menos 3 caracteres
    </span>
    <span *ngIf="control.errors.email">
      Introduce una dirección de correo válida
    </span>
  </div>
</div>
