<form
  [formGroup]="passwordForm"
  (ngSubmit)="submitForm()"
  class="p-4 flex flex-col justify-between"
>
  <div class="top">
    <div class="flex justify-between">
      <div
        class="icon w-[4.5rem] h-[4.5rem] rounded-full flex items-center justify-center bg-main-gray-dimed dark:bg-gray-800"
      >
        <img
          class="dark:hidden ghost-image"
          src="assets/img/password_icon.svg"
          alt=""
        />
        <img
          class="hidden dark:block ghost-image"
          src="assets/img/password_icon_white.svg"
          alt=""
        />
      </div>
      <app-button
        (click)="goBack()"
        variant="light"
        size="square-sm"
        class="text-main-gray"
        ><i class="fas fa-arrow-left"></i
      ></app-button>
    </div>
    <h1 class="mt-4 mb-2">Protege tu cuenta</h1>
    <span class="text-sm mb-8"
      >Elige una contraseña con al menos un número una mayuscula y un carácter
      especial.</span
    >
    <div class="grid gap-6">
      <div class="input-wrapper">
        <input
          [type]="!showPass ? 'password' : 'text'"
          placeholder="Contraseña"
          formControlName="password"
        />
        <div class="toggle-pass" (click)="togglePass()">
          <i [class.hidden]="!showPass" class="far fa-eye"></i>
          <i [class.hidden]="showPass" class="far fa-eye-slash"></i>
        </div>
        <div *ngIf="passwordForm.get('password')?.errors" class="errors">
          <span *ngIf="passwordForm.get('password')?.errors?.required">
            La contraseña es requerida
          </span>
          <span *ngIf="passwordForm.get('password')?.errors?.pattern">
            La contraseña debe tener al menos un número una mayuscula y un
            carácter especial
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom flex flex-col">
    <button app-button [loading]="loading" variant="secondary" type="submit">
      Confirmar
    </button>
  </div>
</form>
