<div
  class="w-screen h-screen relative min-h-[50rem] grid lg:grid-cols-2 items-center sm:justify-items-center"
>
  <img
    class="absolute top-0 left-0 max-h-screen ghost-image msm:hidden"
    src="assets/img/oval-top-left.png"
    alt=""
  />
  <img
    class="absolute bottom-0 left-0 max-h-screen ghost-image msm:hidden"
    src="assets/img/oval-bottom-left.png"
    alt=""
  />
  <img
    class="absolute top-1/2 transform -translate-y-1/2 right-0 max-h-screen ghost-image msm:hidden"
    src="assets/img/oval-right.png"
    alt=""
  />
  <img
    class="dark:hidden absolute bottom-0 right-0 max-h-screen ghost-image"
    src="assets/img/logo-bottom-right.png"
    alt=""
  />
  <img
    class="hidden dark:block absolute bottom-0 right-0 max-h-screen ghost-image"
    src="assets/img/logo-bottom-right-white.png"
    alt=""
  />
  <div class="left sm:justify-center items-center">
    <app-card
      type="open"
      classes="sm:min-w-[25rem] min-h-[30rem] grid relative msm:!bg-transparent msm:!border-transparent msm:!shadow-none"
    >
      <form
        #formEl
        [formGroup]="loginForm"
        (ngSubmit)="submitForm()"
        class="p-4 flex flex-col justify-between"
        @fadeRight
      >
        <div class="top">
          <div class="flex justify-between">
            <div
              class="icon w-[4.5rem] h-[4.5rem] rounded-full flex items-center justify-center bg-main-gray-dimed dark:bg-dark-800"
            >
              <img
                class="dark:hidden ghost-image"
                src="assets/img/login_icon.svg"
                alt=""
              />
              <img
                class="hidden dark:block ghost-image"
                src="assets/img/login_icon_white.svg"
                alt=""
              />
            </div>
            <app-button variant="light" size="square-sm"
              ><i class="fas fa-arrow-left"></i
            ></app-button>
          </div>
          <h1 class="mt-4 mb-3">Iniciar sesión</h1>
          <div
            class="invalid-login"
            [class.open]="loginForm?.errors?.invalidLogin"
          >
            <span>El nombre de usuario o la contraseña no son válidos.</span>
          </div>
          <div class="grid gap-6 mt-3">
            <div class="input-wrapper">
              <input
                type="email"
                name="username"
                formControlName="username"
                placeholder="Tu email"
              />
              <div *ngIf="loginForm.get('username')?.errors" class="errors">
                <span *ngIf="loginForm.get('username')?.errors?.required">
                  El usuario es requerido
                </span>
                <span *ngIf="loginForm.get('username')?.errors?.minlength">
                  El usuario debe tener al menos 3 caracteres
                </span>
              </div>
            </div>
            <div class="input-wrapper">
              <input
                [type]="!showPass ? 'password' : 'text'"
                name="password"
                formControlName="password"
                placeholder="Tu contraseña"
              />
              <div *ngIf="loginForm.get('password')?.errors" class="errors">
                <span *ngIf="loginForm.get('password')?.errors?.invalidLogin">
                  El nombre de usuario o la contraseña no son válidos
                </span>
                <span *ngIf="loginForm.get('password')?.errors?.required">
                  La contraseña es requerida
                </span>
              </div>
              <div class="toggle-pass" (click)="togglePass()">
                <i [class.hidden]="!showPass" class="far fa-eye"></i>
                <i [class.hidden]="showPass" class="far fa-eye-slash"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom flex flex-col">
          <button
            app-button
            [loading]="loading"
            variant="secondary"
            type="submit"
            class="apparence-none"
          >
            Entrar
          </button>
          <div class="separator">
            <span>¿NUEV@ AQUI?</span>
          </div>
          <app-button variant="light" routerLink="/auth/register"
            >Registro</app-button
          >
        </div>
      </form>
    </app-card>
  </div>
  <div class="relative mlg:hidden">
    <img
      class="w-72 ghost-image"
      src="assets/img/login-ilustration.png"
      alt=""
    />
  </div>
</div>
