form {
  &.ng-submitted.ng-invalid {
    input {
      &.ng-invalid {
        @apply border-red-500 dark:border-red-500;
      }

      &.ng-invalid ~ .toggle-pass {
        @apply text-red-500;
      }

      & ~ .errors {
        @apply opacity-100;
      }
    }
  }
}
.top {
  @apply flex flex-col pb-12;

  .input-wrapper {
    @apply grid relative;
  }

  .invalid-login:not(.open) {
    @apply h-0 p-0;
    span {
      @apply opacity-0;
    }
  }

  input {
    @apply border-0 border-b-[3px] border-main-gray-dimed dark:border-gray-700 px-0 py-3 ring-0 focus:border-primary bg-transparent;

    &.ng-touched.ng-invalid {
      @apply border-red-500 dark:border-red-500;
    }

    &.ng-touched.ng-invalid ~ .toggle-pass {
      @apply text-red-500;
    }

    &.ng-touched ~ .errors {
      @apply opacity-100;
    }

    &::placeholder {
      @apply font-bold text-sm uppercase text-main-dark-dimed dark:text-gray-400;
    }
  }
}

.separator {
  @apply py-6 flex items-center justify-center relative;

  span {
    @apply font-bold text-main-gray dark:text-gray-500 text-sm bg-white dark:bg-gray-900 msm:bg-transparent px-4 relative;
  }

  &:before {
    @apply absolute inset-0 bg-main-gray-dimed dark:bg-gray-700 msm:bg-transparent;
    content: "";
    height: 3px;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.toggle-pass {
  @apply -translate-y-1/2 absolute right-0 top-1/2 text-main-gray text-lg cursor-pointer w-7 text-center;
}
input ~ .errors {
  @apply transform w-full absolute bottom-0 translate-y-full flex flex-col opacity-0;
  span {
    @apply text-red-500 font-bold p-1 py-2 text-xs;
  }
}
.invalid-login {
  @apply relative bg-red-500 py-4 px-4 rounded-md text-xs  w-full text-center text-white font-bold overflow-hidden transition-all duration-500 ease-in-out;
  span {
    @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-full transition-all duration-500 ease-in-out;
  }
}
