<div class="layout">
  <div class="left" [ngClass]="{ 'is-settings': isSettingsPage }">
    <div class="settings-menu">
      <span class="label">Personal</span>
      <a
        class="item"
        routerLink="/settings/personal/account"
        routerLinkActive="active"
      >
        <span>Cuenta</span>
      </a>
      <a class="item">
        <span>Contraseña y autenticación</span>
      </a>
      <span class="label">Organización</span>
      <a
        class="item"
        routerLink="/settings/organization/options"
        routerLinkActive="active"
      >
        <span>Opciones</span>
      </a>
      <a
        class="item"
        routerLink="/settings/organization/members"
        routerLinkActive="active"
        *ngIf="isPrivileged"
      >
        <span>Miembros</span>
      </a>
      <a
        class="item"
        routerLink="/settings/organization/workspaces"
        routerLinkActive="active"
        *ngIf="isPrivileged"
      >
        <span>Espacios de trabajo</span>
      </a>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
