<div class="layout">
  <div class="left">
    <div class="settings-menu">
      <span class="label">Personal</span>
      <div
        class="item"
        routerLink="/settings/personal/account"
        routerLinkActive="active"
      >
        <span>Cuenta</span>
      </div>
      <div class="item">
        <span>Contraseña y autenticación</span>
      </div>
      <span class="label">Organización</span>
      <div
        class="item"
        routerLink="/settings/organization/options"
        routerLinkActive="active"
      >
        <span>Opciones</span>
      </div>
      <div
        class="item"
        routerLink="/settings/organization/members"
        routerLinkActive="active"
      >
        <span>Miembros</span>
      </div>
      <div
        class="item"
        routerLink="/settings/organization/workspaces"
        routerLinkActive="active"
      >
        <span>Espacios de trabajo</span>
      </div>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
