<div class="wrapper" hlMenu>
  <div hlMenuButton tabindex="0" class="selector">
    <div class="item">
      <span>{{ activeOrganization.name }}</span>
      <ng-icon name="hero-chevron-down" class="icon"></ng-icon>
    </div>
    <!--     <div class="item">
      <span>+ Nueva</span>
    </div> -->
  </div>
  <div @toggleAnimation *hlMenuItems class="submenu selector">
    <div *ngFor="let organization of organizations">
      <div
        *hlMenuItem="let item"
        class="item"
        [class.active]="item.active"
        (click)="selectOrganization(organization)"
      >
        <span>{{ organization.name }}</span>
      </div>
    </div>
  </div>
</div>
