<div class="wrapper">
  <div class="list prose dark:prose-invert max-w-none">
    <ng-container
      *ngIf="(workspace | async)?.users?.length; then list; else listEmpty"
    >
    </ng-container>
  </div>
  <ng-template #list>
    <div class="add">
      <app-button
        open-modal
        size="sm"
        variant="secondary"
        (click)="addNewMember()"
      >
        Añadir participante
      </app-button>
    </div>
    <table class="members-list">
      <thead>
        <tr>
          <td>Usuario</td>
          <td class="text-right">Nivel de acceso</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of (workspace | async)?.users">
          <td>
            <span class="font-bold">{{ member.name }} {{ member.surname }}</span
            ><br /><span class="text-xs">{{ member.email }}</span>
          </td>
          <td>
            <workspace-role-dropdown
              [user]="member"
              [workspace]="workspace"
            ></workspace-role-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #listEmpty>
    <div
      class="h-96 w-full flex flex-col gap-4 items-center justify-center text-center"
    >
      <img class="opacity-50 w-44" src="/assets/img/no-user.svg" alt="" />
      <span
        >Parece que <b>{{ (workspace | async)?.name }}</b> no tiene ningún
        participante 😔.</span
      >
      <app-button open-modal size="sm" variant="light" (click)="addNewMember()"
        >Añadir uno ahora</app-button
      >
    </div>
  </ng-template>
</div>
