<div *ngIf="activeOrganization">
  <h1>Espacios de trabajo de {{ activeOrganization.name }}</h1>
  <div class="list prose dark:prose-invert max-w-none">
    <ng-container
      *ngIf="organizationWorkspaces | async; then list; else loader"
    >
    </ng-container>
  </div>
  <ng-template #list>
    <ng-container
      *ngIf="
        (organizationWorkspaces | async)?.length;
        then listTable;
        else listEmpty
      "
    >
    </ng-container>
  </ng-template>
  <ng-template #listTable>
    <div class="add">
      <app-button open-modal size="sm" variant="secondary" (click)="create()"
        >Crear espacio de trabajo</app-button
      >
    </div>
    <table class="workspaces-list">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Usuarios</td>
          <td class="text-right"></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workspace of organizationWorkspaces | async">
          <td>
            <span class="font-bold"
              ><span class="text-primary">#</span> {{ workspace.name }}</span
            >
          </td>
          <td>
            <span>{{ workspace.users.length }}</span>
          </td>
          <td>
            <div hlMenu class="role-dropdown">
              <div class="button" hlMenuButton>
                Opciones<ng-icon name="hero-chevron-down"></ng-icon>
              </div>
              <div @toggleAnimation class="dropdown" *hlMenuItems unoutlined>
                <div class="py-1">
                  <div
                    *hlMenuItem="let item"
                    class="item"
                    unoutlined
                    [class.active]="item.active"
                  >
                    <span> Detalles </span>
                  </div>
                  <div
                    *hlMenuItem="let item"
                    class="item"
                    unoutlined
                    [class.active]="item.active"
                  >
                    <span> Usuarios </span>
                  </div>
                </div>
                <div class="py-1">
                  <div
                    *hlMenuItem="let item"
                    class="item delete"
                    unoutlined
                    [class.active]="item.active"
                    (click)="delete(workspace)"
                    open-modal
                  >
                    <span> Eliminar </span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #listEmpty>
    <div
      class="h-96 w-full flex flex-col gap-4 items-center justify-center text-center"
    >
      <img class="opacity-50 w-44" src="/assets/img/no-workspaces.svg" alt="" />
      <span
        >Parece que <b>{{ activeOrganization.name }}</b> no tiene ningún espacio
        de trabajo.</span
      >
      <app-button open-modal size="sm" variant="light" (click)="create()"
        >Empieza a crear espacios de trabajo</app-button
      >
    </div>
  </ng-template>
  <ng-template #loader>
    <div class="w-full py-12 flex justify-center items-center">
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>
