<div class="default-layout-container">
  <layout-sidebar
    [isOpen]="sidebarIsOpen"
    (closeSidebar)="closeSidebar()"
  ></layout-sidebar>
  <div class="content-wrapper" [class.collapsed]="sidebarIsOpen">
    <layout-topbar (openSidebar)="openSidebar()"></layout-topbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <div id="inset-mobile" class="h-16 sm:hidden"></div>
    <layout-mobile-menu class="sm:hidden"></layout-mobile-menu>
    <div class="overlay"></div>
  </div>
</div>
<portal-target name="modals"></portal-target>
<app-modal-outlet></app-modal-outlet>
