<div class="w-screen h-screen relative min-h-[50rem] grid lg:grid-cols-2">
  <img
    class="absolute top-0 left-0 max-h-screen ghost-image msm:hidden"
    src="assets/img/oval-top-left.png"
    alt=""
  />
  <img
    class="absolute bottom-0 left-0 max-h-screen ghost-image msm:hidden"
    src="assets/img/oval-bottom-left.png"
    alt=""
  />
  <img
    class="
      absolute
      top-1/2
      transform
      -translate-y-1/2
      right-0
      max-h-screen
      ghost-image
      msm:hidden
    "
    src="assets/img/oval-right-red.png"
    alt=""
  />
  <img
    class="dark:hidden absolute bottom-0 left-0 max-h-screen ghost-image"
    src="assets/img/logo-bottom-left.png"
    alt=""
  />
  <img
    class="hidden dark:block absolute bottom-0 left-0 max-h-screen ghost-image"
    src="assets/img/logo-bottom-left-white.png"
    alt=""
  />
  <div class="relative mlg:hidden flex items-end justify-center">
    <img class="ghost-image" src="assets/img/register-ilustration.png" alt="" />
  </div>
  <div class="right grid sm:justify-center items-center relative">
    <app-card
      type="open"
      classes="sm:min-w-[25rem] max-w-[25rem] min-h-[35rem] grid relative msm:!bg-transparent msm:!border-transparent"
    >
      <app-progress
        [value]="(currentStep / totalSteps) * 100"
        class="
          px-4
          w-full
          absolute
          -top-7
          left-1/2
          -translate-x-1/2 -translate-y-full
        "
      ></app-progress>
      <register-email
        *ngIf="currentStep === 1"
        (nextStep)="nextStep()"
        [registerForm]="registerForm"
        class="grid"
        @fadeRight
      ></register-email>
      <register-name
        *ngIf="currentStep === 2"
        (nextStep)="nextStep()"
        (prevStep)="prevStep()"
        [registerForm]="registerForm"
        class="grid"
        @fadeRight
      ></register-name>
      <register-password
        *ngIf="currentStep === 3"
        (nextStep)="nextStep()"
        (prevStep)="prevStep()"
        class="grid"
        @fadeRight
      ></register-password>
    </app-card>
  </div>
</div>
