<div class="wrapper" hlMenu>
  <div hlMenuButton tabindex="0" class="selector">
    <div class="item">
      <span>{{
        activeOrganization ? activeOrganization.name : "Cargando..."
      }}</span>
      <div class="icon">
        <ng-icon name="hero-chevron-down"></ng-icon>
      </div>
    </div>
  </div>
  <div @toggleAnimation *hlMenuItems class="submenu selector" unoutlined>
    <div class="items">
      <div
        *ngFor="
          let organization of organizations;
          let last = last;
          let first = first
        "
        class="sub-item"
      >
        <div
          *hlMenuItem="let item"
          class="item"
          unoutlined
          [class.active]="item.active"
          (click)="selectOrganization(organization)"
        >
          <span>{{ organization.name }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="isPrivileged; else noPrivileged" class="items other">
      <div class="sub-item">
        <div
          *hlMenuItem="let item"
          [class.active]="item.active"
          class="item"
          unoutlined
          routerLink="/settings/organization/members"
        >
          <ng-icon name="hero-users-solid"></ng-icon>
          <span>Opciones & Miembros</span>
        </div>
      </div>
      <div class="sub-item">
        <div
          *hlMenuItem="let item"
          [class.active]="item.active"
          class="item"
          unoutlined
          routerLink="/organization/new"
        >
          <ng-icon name="hero-plus-solid"></ng-icon>
          <span>Crear nueva o unirte</span>
        </div>
      </div>
    </div>
    <ng-template #noPrivileged>
      <div class="items other">
        <div class="sub-item">
          <div
            *hlMenuItem="let item"
            [class.active]="item.active"
            class="item"
            unoutlined
            routerLink="/settings/organization/options"
          >
            <ng-icon name="hero-cog-solid"></ng-icon>
            <span>Opciones</span>
          </div>
        </div>
        <div class="sub-item">
          <div
            *hlMenuItem="let item"
            [class.active]="item.active"
            class="item"
            unoutlined
            routerLink="/organization/new"
          >
            <ng-icon name="hero-plus-solid"></ng-icon>
            <span>Crear nueva o unirte</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
